.cl::after{
    content:"";
    clear: both;
    display: table;  
}

.generale {
    margin-left: 10%;
    width: 60rem;
    margin-bottom: 0.5rem;
}

#logo {
    height: 3rem;
    width: 7rem;
    background-size: cover;
    border-right: 1px solid #e5e5e5;
    padding-right: 1rem;
} 

a {
    color: #939393;
    margin: 0.2rem;
    text-decoration: none;
}

.img-centrale {
    height: 40rem;
    background-image: url(../img/img/banner.jpg);
    background-size: cover;
    color: white;
    border-radius: 15px;

}

.copertura {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0,0.2);
}

.img-centrale div {
    padding-top: 22rem;
    padding-left: 2rem;
}

.ma{
    background-color: #0086ff;
    height: 18rem;
    margin-bottom: 0.2rem;
}



.fo{
    background-color: #8801fe;
    height: 2rem;
}

.intestazione h1{
    margin: 0;
}

.intestazione h2 {
    color:#969696;
    margin: 0;
}

.corpo {
    background-color: powderblue;
    height: 70%;   
    float:left;
}

.small{
    width:20%;
}

.big {
   width: 58%;
   margin-left:1%;
   margin-right:1%; 
}

